:root {
    --first-screen-font-color-light: #740001;
    --first-screen-font-color-dark: #fff;
    --first-screen-header-font-color-light: #fff;
    --first-screen-header-font-color-dark: #fff;
    --first-screen-font-family: 'Harry P';
    --first-screen-font-size: 60px;
    --box-border-radius: 20px;
    --header-title-font-family: 'Harry P';
    --home-post-hover-scale: 1.025;
}